*{
    padding:0;
    margin:0;
    bottom:0;
}
body{
    background-color: #1c1e25;
    min-width: 100vh;

}
.nav-container{
    background-color: #20463e;
    margin: 0;
    bottom: 0;
}
nav img{
    display: flex;
    position: relative;
    left:5px;
    align-items: center;
    width: auto;
    height: 80px;
}
a{
    display: inline-block;
    flex-wrap: wrap;
}
.navbar{
    position: relative;
    display: flex;
    background-color: #20463e;
}
.navbar a{
    color:#ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
    text-align: center;
    position:relative;
    text-decoration: none;
    padding: 24px 26px;
    font-size: 18px;
}
.navbar a:hover{
    background-color: #c7c7c7;
    color: #000000;
    width: fit-content;
}
.navbar a:last-child{
    margin-left: auto;
}
.dropdown1{
    display: none;
    position: absolute;
    box-shadow: 2px 2px 5px #0000006d;
    top:100%;
    left:175px;
    background-color: #69abab;
}
.dropdown2{
    display: none;
    position: absolute;
    box-shadow: 2px 2px 5px #0000006d;
    top:100%;
    left:275px;
    background-color: #69abab;
}
.dropdown1 a{
    display: block;
    color: #000000;
    background-color: #69abab;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    padding: auto
}
.dropdown2 a{
    display: block;
    color: #000000;
    background-color: #69abab;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    padding: auto;
}
.dropdown1 a:hover{
    color: #000000;
    background-color: #ffffff;
}
.dropdown2 a:hover{
    color: #000000;
    background-color: #ffffff;
}
.navbar .store:hover + .dropdown1,
.navbar .dropdown1:hover{
    display: block;
}
.navbar .lib:hover + .dropdown2,
.navbar .dropdown2:hover{
    display: block;
}
.sidebar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: #20463e;
    width: 150px;
    height: auto;
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 2px 2px 5px #0000006d;
}
.sidebar a{
    width: 100%;
}
.sidebar a{
    color:#ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 18px;
    padding: 30px;
    box-sizing: border-box;
    text-align: right;
}
.sidebar a:active{
    background-color: #b5b5b5;
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    width: 100%;
    transition: background-color 0.4s ease, color 0.4s ease;
    transition: 0.2s;
}
.hamburger{
    position: relative;
    top:2px;
    left: 10px;
    width: auto;
    display: none;
    background-color: #20463e;
}
.close{
    display: none;
}
.sl-div{
    width: 120px !important;
    position: fixed;
    display: none;
    justify-content: flex-end;
    bottom: 10px !important;
    height: 100px;
    z-index: 99;
    padding-left: 20px;
}
.sl-div img{
    height: 90px;
}

@media screen and (max-width: 800px){
    .navbar{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .close{
        display: inline;
    }
    
}
